body{
	font-family:Arial;
}

#heading{
	border:none;
	float:none;
	text-align:center;
	margin-bottom: 10px;
	margin-top: 10px;
}

p{
	font-size: 15px;
	margin-top: 15px;
	text-align: left;
}

h2{
	text-align:center;
	padding-right: 40px;
	padding-left: 40px;
	font-size: 30px;
	margin-top: -2px;
}

body section{
	background-color:grey;
	float: left;
	position: relative;
	padding-left: 10px;
	margin-right: 1em;
	margin-top: 1em;
	width: 95%;
}

#nav{
	background-color: grey;
}
