body {
	text-align: center;
}

section{
	background-color:grey;
}

#chicken{
	background-color:pink;
}

#beef{
	background-color:red;
	color:white;
}

#sushi{
	background-color:yellow;
}

@media (min-width: 992px){

}

@media (min:-width: 768px) AND (max-width:  991px){

}

@media (max-width:  767px){

}
