body{
	font-family:Arial;
}

#heading{
	border:none;
	float:center;
}

h2{
	float:right;
	width:33%;
	border: 2px solid black;
	text-align:center;
}

body section{
	background-color:grey;
	position:relative;
	float:left;
	border: 5px solid black;
	padding-left:10em;
	padding-right:10em;
}

body section #chicken{
	background-color:pink;
}

body section #beef{
	background-color:red;
	color:white;
}

body section #sushi{
	background-color:yellow;
}

@media (min-width: 992px){

}

@media (min:-width: 768px) AND (max-width:  991px){

}

@media (max-width:  767px){

}
